<template>
   <a-card :title="title" class="biaoqian">
       <p v-for="val in lists.list" :key="val[rowKey]"  @click="readDetail(val)">
            <slot name="item" :data="val" />
        </p>
    </a-card>
</template>

<script setup lang="ts">
import {defineProps,onMounted,reactive} from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();
const readDetail = (item:any) => {
  router.push({path:'/TagDetail/' + item.id,
  query:item
  })
}
const lists = reactive({
    list: []
});
const props = defineProps({
    title: {
        type: String,
        default: '标题'
    },
    rowKey: {
        type: String,
        default: 'id'
    },
    request: Function
})
const init = async () => {
    lists.list = props.request && typeof props.request === 'function' && await props.request();
}
onMounted(() => {
    init();
})

</script>

<style lang="less" scoped>
.baselist {
    background: var(--bg-Base-color);
}
.biaoqian{
    display: flex;
    flex-wrap: wrap;
    p{
        display: inline-block;
       padding-left: 5px;
       padding-right: 5px;
       margin:5px;
       line-height: 20px;
       border: 1px solid #ccc;
    }
}
</style>
