<template>
  <div class="Allcontainers">
    <div class="Articals">
      <div class="onTops">
        <a-carousel autoplay>
          <template v-for="val in articalList" :key="val.id">
          <div  v-if="val.cover" style="position:relative">
             <h3 style="position:absolute;text-align: center;font-size: 22px;">{{val.title}}</h3>
             <p style="position:absolute;text-align: center;font-size: 18px;margin-top: 36px;color:#fff;">大约{{formatTime(val.createAt)}}前 · {{val.views}}次阅读</p>
            <img :src="val.cover" style="width: 100%; "/>
          </div>
          </template>
        </a-carousel>
      </div>
      <div class="onTop1" v-if="itemData && itemData.id">
        <h3>与<span>{{ itemData.label }}</span> 文章标签有关的</h3>
        共搜到 <span>{{ itemData.articleCount }}</span>篇
      </div>
      <div class="TagChange">
        <span class="spanItem">
          <router-link to="/category/all" @click="clearItem">所有</router-link>
        </span>
        <span v-for="item in knowledgeTypeList" :key="item.id" class="spanItem">
          <router-link v-if="item.id" :to="'/category/' + item.id" @click="getItem(item)">{{ item.label }}</router-link>
        </span>
      </div>
      <router-view />
    </div>
    <div class="commend">
      <base-list title="推荐阅读" :request="store.getReadList" class="base-list">
        <template #item="{ data }">
          {{ data.title }} ·
          {{ formatTime(data.updateAt) }}
        </template>
      </base-list>
      <TagList title="文章标签" :request="store.getArticleTagList" class="base-list">
        <template #item="{ data }">
          {{ data.label }}[{{ data.articleCount }}]
        </template>
      </TagList>
    </div>
    <div id="components-back-top-demo-custom">
    <a-back-top>
      <div class="ant-back-top-inner">T</div>
    </a-back-top>
  </div>
  </div>
</template>

<script setup lang="ts">
import useStore from '@/stores';
import { storeToRefs } from 'pinia'
import { onMounted, reactive, ref } from 'vue';
// import moment from 'moment';
import { useRouter } from 'vue-router';

const router = useRouter();
const store = useStore()
const { articalList, knowledgeTypeList }: any = storeToRefs(store)
let itemData: any = ref()

const init = () => {
  store.getArticalData();
  store.getKnowledgeTypeList();
  if (store.itemData) {
    itemData.value = store.itemData
  }

};
onMounted(() => {
  init()
})
const getItem = (item: any) => {
  itemData.value = item
}
const clearItem = () => {
  itemData.value = {};
  store.itemData.value = {};
}
</script>

<style lang="less" scoped>
.TagChange{
  margin-bottom: 0px;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.actricalItems {
  width: 100%;
  border-bottom: 1px solid #000;
  background: var(--bg-ArticalItem-color);

  .Img {
    display: flex;
    margin-bottom: 6px;

    .imgs {
      width: 150px;
      height: 100px;
      margin-right: 20px;
    }

    p {
      color: var(--font-ArticalItem-color);
    }
  }

  .actricalItemsDt {
    line-height: 30px;
    display: flex;

    h3 {
      color: var(--font-ArticalItem-color);
      padding-left: 5px;
      padding-right: 5px;
    }

    span {
      padding-left: 5px;
      padding-right: 10px;
    }
  }

  .ActivceSpan {
    color: var(--font-ArticalItemSpan-color);
  }

  .actricalItemsDd {
    display: flex;
    width: 100%;

    .AllSmall {
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-right: 12px;
      color: var(--font-ArticalItemSpan-color);
    }
  }
}

.base-list {
  margin-top: 20px;
  margin-bottom: 20px;
  background: var(--bg-color);
}

.base-list:hover {
  color: red;
}

/* For demo */
.ant-carousel :deep(.slick-slide) {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel :deep(.slick-slide h3) {
  color: #fff;
}
.spanItem {
  padding: 8px;
  a {
    color: var(--font-ArticalItem-color);
  }
  a:hover {
    color: red;
  }
}
.onTop1 {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid #000;
  text-align: center;
  background: var(--bg-color);

  span {
    font-size: 30px;
    color: pink;
  }
}
#components-back-top-demo-custom .ant-back-top {
  bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
</style>
