/<template>
    <div>
        <div class="Allcontainers">
            <base-likeornot></base-likeornot>
            <div class="Articals">
                <div>
                    <a-modal v-model:visible="data.totalAmount" title="确认以下收费信息">
                        <p>支付金额：￥{{ data.totalAmount }}</p>
                        <template #footer>
                            <a-button key="back" @click="handleCancel">取消</a-button>
                            <a-button key="submit" type="primary" @click="handleOk">Submit</a-button>
                        </template>
                    </a-modal>
                </div>
                <div class="detailContent">
                    <img class="imgs" v-if="data.cover" :src="data.cover" alt="">
                    <h3>{{ data.title }}</h3>
                    <div id="markdown" class="markdown" v-html="data.html" @click="handleCopyClick"></div>
                    <div class="ge2">
                        <p>发布于2022-08-27 08:43:03 | 版权信息：非商用-署名-自由转载</p>
                    </div>
                </div>
                <div class="geduan">
                    <h3>评论</h3>
                </div>
                <div class="Allcomment">
                    <comments />
                </div>
            </div>
            <div class="commend">
                <base-list title="推荐阅读" :request="store.getReadList" class="base-list" @click="refreshThis">
                    <template #item="{ data }">
                        {{ data.title }} · {{ formatTime(data.updateAt) }}
                    </template>
                </base-list>
                <a-anchor>
                    <a-anchor-link :title="item.text" v-for="item in data.toc" :key="item.id" :href="'#' + item.id"
                        :style="{ paddingLeft: item.level * 10 + 'px' }">
                    </a-anchor-link>
                </a-anchor>
            </div>
        </div>
        <div id="components-back-top-demo-custom">
    <a-back-top>
      <div class="ant-back-top-inner">T</div>
    </a-back-top>
  </div>
    </div>
</template>

<script setup lang="ts">
import { useRoute, useRouter } from 'vue-router';
import useStore from '@/stores';
import { nextTick, onMounted, reactive, ref, provide } from 'vue';
import { message } from 'ant-design-vue';
import copy from 'copy-text-to-clipboard';
import hljs from 'highlight.js'
import { storeToRefs } from 'pinia'
import { getDetailData } from '@/services/base'

const store = useStore()
const route = useRoute()
const $router = useRouter()
const { params: { id } } = useRoute()
const { articalDetails }: any = storeToRefs(store)
const data = reactive({
    title: '',
    html: '',
    cover: '',
    toc: [],
    totalAmount: null
});
const visible = ref<boolean>(false);
provide("id", id)
const handleOk = (e: MouseEvent) => {
    console.log(e);
    window.location.href = 'https://www.alipay.com/'
};
const handleCancel = () => {
    $router.push('/category/all')
}
const init = async () => {
    try {
        // const {data: res} = await getDetailData(id);
        await store.getArticalDetails(id)
        data.totalAmount = store.articalDetails.totalAmount
        data.title = store.articalDetails.title
        data.cover = store.articalDetails.cover
        data.html = store.articalDetails.html.replace(/<pre><code/g, '<pre><span class="copy-btn">复制</span><code')
        data.toc = JSON.parse(store.articalDetails.toc)
        console.log('data.toc', data.toc);

        await nextTick()
        if (document.querySelectorAll('pre code').length) {
            Array.from(document.querySelectorAll('pre code')).forEach(codeEl => {
                hljs.highlightElement(codeEl); // code dom 里面才有span
            })
        }
    } catch (error) {
        console.log(error)
        // $router.replace('/404')
    }
}
const handleCopyClick = (e) => {
    if (e.target.classList.contains('copy-btn')) {
        copy(e.target.nextElementSibling.innerHTML)
        message.success('复制成功')
    }
}
const refreshThis = () => {
    $router.go(0)

}
onMounted(() => {
    init();
})

</script>

<style lang="less" scoped>

.ge2 {
    width: 100%;
    height: 60px;
    border-top: 1px solid #ccc;
    text-align: center;
    line-height: 60px;
    p {
        font-size: 12px;
    }
}

.geduan {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: var(--body-bgColor);
    h3{
        text-align: center;
    }
}

.Articals {
    background: var(--bg-color);

    .detailContent {
        width: 100%;
        margin-bottom: 20px;
        .imgs {
            width: 80%;
            margin-left: 90px;
            margin-top: 20px;
        }

        h3 {
            font-size: 30px;
            color: var(--font-ArticalItem-color);
            margin-left: 10px;
        }
    }

    .Allcomment {
        width: 100%;
        margin-top: 20px;
        text-align: center;

        textarea {
            margin-top: 10px;
        }

        button {
            width: 80px;
            margin-top: 10px;
        }
    }

}

.markdown {
    color: var(--font-ArticalItem-color);
    margin-left: 10px;
}

.ant-card {
    background: var(--bg-color);
}

.base-list {
    margin-top: 20px;
    margin-bottom: 20px;
}
#components-back-top-demo-custom .ant-back-top {
  bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
</style>