<template>
    <header class="header">
      <div class="container">
        <div class="navItem">
          <!-- 基础导航 -->
          <router-link
            class="routerItem"
            :to="val.path"
            v-for="val in navData"
            :key="val.path"
          >
            {{ $t(val?.meta?.title) }}
          </router-link>
          <!-- 动态路由 -->
          <router-link
            class="routerItem"
            v-for="val in navList"
            :key="val.id"
            :to="'/page/' + val.path"
          >
            {{ val.name }}
          </router-link>
        </div>
        <div class="right">
          <!-- <a-button>中英文</a-button> -->
          <span
            :class="{ active: languageOpen, languageBtn: true }"
            @click="handleLanguageChange"
            ><langues-icon
          /></span>
          <!-- 白天黑夜 -->
          <span @click="handleChangeTheme">
            <component :is="iconName"></component>
          </span>
          <!-- 搜索 -->
          <span @click="search"><search-icon/></span>
        </div>
      </div>
    </header> 
</template>

<script setup lang="ts">
import useStore from "../../stores";
import { ref, computed, onMounted } from "vue";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import { useI18n } from "vue-i18n";
import SearchIcon from "../iconFont/icons/search-icon.vue";
import router from "@/router";
import { locales } from "moment";

const { locale } = useI18n({ useScope: "global" });
const languageOpen = ref(false);
const store = useStore();
const { navList }: any = storeToRefs(store);
const {
  options: { routes },
} = useRouter();
const iconName = ref("light-icon");

const navData = computed(() => {
  return routes.filter((item) => item?.meta?.nav);
});
const handleLanguageChange = () => {
  languageOpen.value = !languageOpen.value;
  locale.value = languageOpen.value ? "en" : "zh";
  window.localStorage.setItem('language',locale.value)
};
const search=()=>{
  router.push({path:"/search"})
}
const init = () => {
  store.getNavData();
};
onMounted(() => {
  init();
});
//切换主题颜色
const handleChangeTheme = () => {
  document.documentElement.classList.toggle("dark");
  iconName.value = document.documentElement.classList.contains("dark")
    ? "dark-icon"
    : "light-icon";
};
</script>

<style lang="less" scoped>
.header {
  height: 64px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  .routerItem {
    padding: 5px;
    &:hover{
      color:red;
    }
    &:active{
      color:red;
    }
  }
  .container {
    height: 100%;
    display: flex;
    .display-flex-row-mixin(space-between,center);
    .right {
      display: flex;
      align-items: center;
      span{
        margin-left: 10px;
        color:var(--font-ArticalItem-color);
      }
    }
  }
  .navItem {
    a {
      padding: 0 10px;
      color:var(--font-ArticalItem-color);
    }

  }
  .languageBtn {
    transform: rotate(180deg);
    & > span {
      transition: transform 1s;
    }
    &.active > span {
      transform: rotate(180deg);
    }
  }
}
</style>
