/<template>
  <base-scorll @scrollLoad="handleScrollLoad" :loading="loading" class="Acontainer">
    <template v-if="lists.length && lists[0].length">
      <div class="shareTk">
        <div>
          <a-modal v-model:visible="visible" title="分享海报" @ok="handleOk">
            <img class="Itimgs" :src="Items.items.cover" alt="">
            <div class="allSmall">
              <h3>{{ Items.items.title }}</h3>
              <p v-if="Items.items.summary">{{ Items.items.summary }}</p>
              <div class="qrcode">
                <qrcode-vue :value="values" :size="100" level="H" />
                <div class="shareQrcode">
                  <p>识别图中二维码查看文章</p>
                  <p>原文分享来自&nbsp;<span>小楼又清风</span></p>
                </div>
              </div>
            </div>
          </a-modal>
        </div>
      </div>
      <dl v-for="item in lists[0]" :key="item.id" class="actricalItems" @click="readArtical(item)">
        <dt>
          <div class="actricalItemsDt">
            <h3>{{ item.title }}</h3>
            <span>|</span><span class="ActivceSpan">{{
                formatTime(item.updateAt)
            }}</span><span v-if="item.category">|</span>  <span class="ActivceSpan" v-if="item.category">{{ item.category.value}}</span>
          </div>
          <div class="Img">
            <img class="imgs" v-show="item.cover" :src="item.cover" />
            <p>{{ item?.summary }}</p>
          </div>
        </dt>
        <dd class="actricalItemsDd">
          <div class="AllSmall">
            <like-icon /><span>{{ item.likes }}</span>
          </div>
          <div class="AllSmall">
            <views-icon /><span>{{ item.views }}</span>
          </div>
          <div class="AllSmall">
            <share-icon /><span @click.stop="showModal(item)">分享</span>
          </div>
        </dd>
      </dl>
      <div id="components-back-top-demo-custom">
    <a-back-top>
      <div class="ant-back-top-inner">T</div>
    </a-back-top>
  </div>
    </template>
    <template v-else>
      <div>暂无数据</div>
    </template>
  </base-scorll>
</template>

<script setup lang="ts">
import useStore from '@/stores';
import { storeToRefs } from 'pinia'
import { onMounted, reactive, ref, watch } from 'vue-demi';
import { useRoute, useRouter } from 'vue-router';
import QrcodeVue from 'qrcode.vue'

const $route = useRoute();
const router = useRouter();
const store = useStore()
const { lists }: any = storeToRefs(store)
const Items = reactive({
  items: [],
  items2: [],
  likes: false
})

const loading = ref('上拉加载更多')
const type = ref()
const values = ref("/api/article/" + Items.items.id + "/views")

const visible = ref<boolean>(false);

const showModal = (item: any) => {
  visible.value = true;
  Items.items = item
};

const handleOk = (e: MouseEvent) => {
  visible.value = false;
};
const readArtical = (item: any) => {
  router.push('/articalDetail/' + item.id)
}
const pageInfo = reactive({
  page: 1,
  pageSize: 6
})
watch($route, (val) => { //切换子路由
  type.value = val.params.id;
  pageInfo.page = 1
  store.clearArticalCategoryList()
  store.getArticalCategoryList(type.value, {
    ...pageInfo
  })
}, {
  immediate: true
})
const handleScrollLoad = () => {
  const sumPage = Math.ceil(lists.value[1] / pageInfo.pageSize)
  pageInfo.page = pageInfo.page + 1
  if (pageInfo.page <= sumPage) {
    store.getArticalCategoryList(type.value, {
      ...pageInfo
    })
  } else {
    loading.value = '您拉到底啦'
  }
}

</script>

<style lang="less" scoped>
.Acontainer {
  background: var(--bg-color);
}
.actricalItems:hover{
  .actricalItemsDt{
    h3{
      color:red;
    }
  }
}

.actricalItems {
  padding-left: 20px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  .Img {
    display: flex;
    margin-bottom: 6px;

    .imgs {
      width: 150px;
      height: 100px;
      margin-right: 20px;
    }

    p {
      color: var(--font-ArticalItem-color);
    }
  }

  .actricalItemsDt {
    line-height: 30px;
    display: flex;

    h3 {
      color: var(--font-ArticalItem-color);
      padding-left: 5px;
      padding-right: 5px;
    }

    span {
      padding-left: 5px;
      padding-right: 10px;
    }
  }

  .ActivceSpan {
    color: var(--font-ArticalItemSpan-color);
  }

  .actricalItemsDd {
    display: flex;
    width: 100%;

    .AllSmall {
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-right: 12px;
      color: var(--font-ArticalItemSpan-color);
    }
  }
}

.Itimgs {
  width: 70%;
  margin-left: 70px;
}

.qrcode {
  display: flex;
}

.shareQrcode {
  margin-left: 20px;

  p>span {
    color: rgb(224, 64, 211);
  }
}

.allSmall {
  margin-left: 60px;
}
</style>