:root {
    /* 顶部边框 */
    --border-color: #e5e6eb;
    /* 背景 */
    --bg-color:#fff;
    /* 评论背景 */
    --bg-ArticalItem-color:#fff;
    /* 标题 */
    --font-ArticalItem-color:#363c48;
    /* 时间 */
    --font-ArticalItemSpan-color:#ccc;
    --bg-Base-color:#fff;
    --body-bgColor:#e8eaed;
    --font-KnowledgeItem-color:#e8eaed;
    --bg-footer:#000;
}
:root.dark {
    /* 顶部边框 */
    --border-color: #53565d;
    /* 背景 */
    --bg-color:rgba(74, 71, 71, 0.673);
    /* 评论背景 */
    --bg-ArticalItem-color:rgb(115, 120, 136);
    /* 标题 */
    --font-ArticalItem-color:#fff;
    /* 时间 */
    --font-ArticalItemSpan-color:rgb(147, 143, 143);
    --bg-Base-color:rgb(89, 95, 113);
    --body-bgColor:#282c34;
    --font-KnowledgeItem-color:#282c34;
    --bg-footer:rgba(74, 71, 71, 0.673);
}