<template>
  <div class="Allkonwledge container">
    <div class="konwledge">
      <dl v-for="(item, index) in knowledgeList" :key="index" class="konwledgeDl" @click="konwledgeDetail(item)">
        <dd class="konwledgeDd">
          <h4>{{ item.title }}<span>{{ formatTime(item.updateAt) }}</span></h4>
        </dd>
        <dt class="konwledgeDt">
          <div class="img">
            <img v-if="item.cover" :src="item?.cover" alt="" />
          </div>
          <div class="word">
            <p>{{ item.summary }}</p>
            <div style="margin-top:40px;">
              <span @click.stop="konwledgeDetail(item)"> <ears-icon />{{ item.views }} </span>&nbsp;·&nbsp;
              <span @click.stop="share(item)"> <share-icon />分享 </span>
            </div>
          </div>
        </dt>
      </dl>
    </div>
    <div class="commend">
      <base-list title="推荐阅读" :request="store.getReadList" class="bb">
        <template #item="{ data }">
          {{ data.title }} ·
          {{ formatTime(data.updateAt) }}
        </template>
      </base-list>
      <a-card title="文章分类" class="Card">
        <span v-for="item in knowledgeTypeList" :key="item.id" class="spanItem">
          <router-link class="articleType" v-if="item.id" :to="'/category/' + item.id" @click="getItem(item)" >{{ item.label }}&emsp;<span class="articleNum">共计{{item.articleCount}}篇文章</span><br/></router-link>
        </span>
      </a-card>
    </div>
    <!-- 分享弹框 -->
    <div class="shareTk">
      <a-modal v-model:visible="visible" title="分享海报" @ok="handleOk">
        <template #footer>
          <a-button key="back" @click="handleCancel">关闭</a-button>
          <a-button key="submit" type="primary" danger :loading="loading" @click="handleOk">下载</a-button>
        </template>
        <p>
          <img :src="modalList.arr?.cover" alt="" style="width:100%;height:200px" />
        </p> 
        <h3>{{modalList.arr?.title}}</h3>
        <p>{{modalList.arr?.summary}}</p>
        <div class="qrcode">
          <p><qrcode-vue :value="value" :size="size" level="H" /></p>
          <div class="shareQrcode">
            <p>识别图中二维码查看文章</p>
            <p>原文分享来自&nbsp;<span>小楼又清风</span></p>
          </div>
        </div>
      </a-modal>
    </div>
    <div id="components-back-top-demo-custom">
    <a-back-top>
      <div class="ant-back-top-inner">T</div>
    </a-back-top>
  </div>
  </div>
</template>

<script setup lang="ts">
import useStore from "../../stores";
import { ref, onMounted, reactive } from "vue";
import { storeToRefs } from "pinia";
import {useRouter} from 'vue-router';
import QrcodeVue from 'qrcode.vue';

const store = useStore();
const router = useRouter();
const { knowledgeList, knowledgeTypeList }: any = storeToRefs(store);
const loading = ref<boolean>(false);
const visible = ref<boolean>(false);
const value = ref<string>('https://example.com');
const size = ref<number>(100);
const itemData = ref();
const modalList = reactive({
  arr:[]
})


const showModal = () => {
  visible.value = true;
};

const handleOk = () => {
  loading.value = true;
  setTimeout(() => {
    loading.value = false;
    visible.value = false;
  }, 2000);
};

const handleCancel = () => {
  visible.value = false;
};

//点击分享
const share = (item:any) => {
  visible.value = true;
  console.log(item,"item");
  modalList.arr = item;
}
//点击dl跳详情
const konwledgeDetail = (item:any) => {
  router.push({
    path:'/detail/'+item.id,
    query:item
  })
}
const getItem =(item:any) =>{
  itemData.value = item;
  store.itemData = item;
}

const init = () => {
  store.getNavKnowledge();
};
onMounted(() => {
  init();
});
</script>

<style lang="less" scoped>
.konwledge{
  margin-top: 20px;
}
.konwledgeDl:hover{
  .konwledgeDd{
    h4{
      color:red;
    }
  }
  
}
.konwledgeDl {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid var(--border-color);
  background: var(--bg-color);
  .konwledgeDt {
    margin-left: 20px;
    display: flex;
    img {
      width: 150px;
      height: 100px;
    }
    .word {
      padding: 10px;
      color: var(--font-ArticalItem-color);
      span {
        padding: 0px 10px 0 0;
        color: var(--font-ArticalItem-color);
      }
    }
  }
  .konwledgeDd {
    margin-left: 20px;
    margin: 10px 20px;
    h4 {
      color:var(--font-ArticalItem-color);
      span {
        display: inline-block;
        margin-left: 20px;
        color:var(--font-ArticalItem-color);
        
      }
    }
  }
}
.qrcode{
  display: flex;
  align-items: center;
}
.shareQrcode{
  margin-left: 20px;
  p>span{
    color: rgb(224, 64, 211);
  }
}
.bb{
  background: var(--bg-color);
}
.Card{
  margin-top: 20px;
  
}
.articleNum:hover{
  color:red;
}
.articleType:hover{
  color:red;
}
.spanItem{
  display: flex;
  flex-direction: column;
  .articleType{
    margin-top: 10px;
    // color: #000;
    color:var(--font-ArticalItem-color);
    .articleNum{
      float: right;
    }
  }
  a:hover{
    color: red;
  }
}
.onTop1 {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    border: 1px solid #000;
    text-align: center;
	  background: var(--bg-color);

    span {
        font-size: 30px;
        color: pink;
    }
}
.commend{
  margin-top: 20px;
}
.ant-card{
  background: var(--bg-color);
}
#components-back-top-demo-custom .ant-back-top {
  bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
</style>
