/<template>
  <div>
    <div ref="content">
      <slot/>
      <div v-if="loading">
        <p>{{loading}}</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { throttle } from "lodash"
import { onMounted, ref, defineEmits, defineProps, onUnmounted } from "vue"

const clientHeight = ref()
const scrollTop = ref()
const content = ref()
const emits = defineEmits(['scrollLoad'])
const props = defineProps({
  loading:{
    type:String,
    default:'上拉加载更多'
  }
})
clientHeight.value = document.documentElement.clientHeight
const scrollEvent = throttle((e)=>{
  scrollTop.value = document.documentElement.scrollTop
  //滚走距离+可视区域距离
  if(scrollTop.value + clientHeight.value >= content.value.offsetHeight + content.value.offsetTop){
    emits('scrollLoad',e)
  }
},500)
const init = ():void =>{
  window.addEventListener('scroll',scrollEvent)
}
onMounted(()=>{
  init()
})
onUnmounted(() => {
  window.removeEventListener('scroll', scrollEvent);
})

</script>

<style>

</style>