<template>
  <div class="Allkonwledge container">
      <div class="konwledgeDetail">
        <div class="title">
          <p>知识小册 / {{route.query.title}}</p>
          <h3>{{route.query.title}}</h3>
        </div>
        <div class="imgBox konwledge">
          <img v-if="route.query.cover" :src="route.query.cover" alt="" class="img">
          <h4>{{route.query.title}}</h4>
          <p>{{route.query.summary}}</p>
          <p><span>{{route.query.views}}次阅读 · {{moment(route.query.updateAt).format('YYYY-MM-DD HH:mm:ss') }}</span></p>
          <a-button type="primary" danger :disabled="!route.query.isCommentable">开始阅读</a-button>
          <p>敬请期待</p>
        </div>
    </div>
    <div class="commend">
        <h3>其他知识笔记</h3>
        <dl v-for="(item,index) in knowledgeList.slice(0,4)" :key="index" class="konwledgeDl" @click="konwledgeDetail(item)">
          <dd class="konwledgeDd">
            <h4>{{ item.title }}<span style="margin-left:10px;">{{ moment(item.updateAt).startOf('day').fromNow() }}</span></h4>
          </dd>
          <dt class="konwledgeDt">
            <div class="img">
              <img :src="item?.cover" alt="" />
            </div>
            <div class="word">
              <p>{{ item.summary }}</p>
              <div style="margin-top:30px;font-size: 12px;">
                <span @click.stop="konwledgeDetail(item)"> <ears-icon />{{ item.views }} </span>·
                <span @click.stop="share(item)"> <share-icon />分享 </span>
              </div>
            </div>
          </dt>
        </dl>
    </div>
    <div class="shareTk">
        <a-modal v-model:visible="visible" title="分享海报" @ok="handleOk">
          <template #footer>
            <a-button key="back" @click="handleCancel">关闭</a-button>
            <a-button key="submit" type="primary" danger :loading="loading" @click="handleOk">下载</a-button>
          </template>
          <p>
            <img :src="modalList.arr?.cover" alt="" style="width:100%;height:200px" />
          </p> 
          <h3>{{modalList.arr?.title}}</h3>
          <p>{{modalList.arr?.summary}}</p>
          <div class="qrcode">
            <p><qrcode-vue :value="value" :size="size" level="H" /></p>
            <div class="shareQrcode">
              <p>识别图中二维码查看文章</p>
              <p>原文分享来自&nbsp;<span>小楼又清风</span></p>
            </div>
          </div>
        </a-modal>
      </div>
      <div id="components-back-top-demo-custom">
    <a-back-top>
      <div class="ant-back-top-inner">T</div>
    </a-back-top>
  </div>
      <!-- <a-back-top>
        <div class="ant-back-top-inner">T</div>
      </a-back-top>
    </div> -->
    </div>
    
</template>

<script setup lang="ts">
import useStore from "../../stores";
import { ref, onMounted, reactive } from "vue";
import { storeToRefs } from "pinia";
import moment from 'moment';
import {useRouter,useRoute} from 'vue-router';
import QrcodeVue from 'qrcode.vue';

const route = useRoute();
const router = useRouter();
const store = useStore();
//从仓库拿出知识小册的数据
const { knowledgeList }: any = storeToRefs(store);
const loading = ref<boolean>(false);
const visible = ref<boolean>(false);
const value = ref<string>(`https://knowledgeDetail/.com`);
const size = ref<number>(100);
const data = route.query;
const isCommentable = ref<boolean>(false);
// const getCodeId = ref<string>('');
//拿到弹框数据
const modalList = reactive({
  arr:[]
})

const showModal = () => {
  visible.value = true;
};

const handleOk = () => {
  loading.value = true;
  setTimeout(() => {
    loading.value = false;
    visible.value = false;
  }, 2000);
};

const handleCancel = () => {
  visible.value = false;
};

//点击分享
const share = (item:any) => {
  visible.value = true;
  console.log(item,"item");
  modalList.arr = item;
}
const konwledgeDetail = (item:any) => {
  router.push({
    path:'/detail/'+item.id,
    query:item
  })
}

const init = () => {
  store.getNavKnowledge();
};
onMounted(() => {
  init();
});
</script>

<style lang="less" scoped>
.konwledgeDetail{
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  .title{
    margin-left:160px;
  }
}
.Allkonwledge .container{
  background-color: var(--font-KnowledgeItem-color);
  height: 100%;
}

.container{
  h4{
    color:var(--font-ArticalItem-color);
  }
}
.commend{
  margin-top: 42px;
  h3{
    color:var(--font-ArticalItem-color);
    margin-bottom: 20px;
  }
}
.imgBox{
  width: 80%;
  height: 100%;
  background: var(--bg-color);
  display: flex;
  flex-direction:column;
  justify-content: start;
  align-items: center;
  img{
    width: 96%;
    height: 80%;
    margin: 5% 3%;
  }
  h4{
    color:var(--font-ArticalItem-color);
  }
  p{
    color:var(--font-ArticalItem-color);
  }
  span{
    color:var(--font-ArticalItem-color);
  }
  a{
    color:var(--font-ArticalItem-color);
  }
}

.konwledgeDl {
  width: 100%;
  height: 150px;
  background: var(--bg-color);
  padding-left: 10px;
  margin-bottom: 0rem!important;
  border-bottom: 1px solid var(--border-color);
  .konwledgeDd{
    h4{
      color:var(--font-ArticalItem-color);
    }
  }
  .konwledgeDt {
    display: flex;
    img {
      width: 150px;
      height: 100px;
    }
    .word {
      padding: 10px;
      color: var(--font-ArticalItemSpan-color);
      p{
        color:var(--font-ArticalItem-color);
      }
      span {
        padding: 0px 10px 0 0;
        color:var(--font-ArticalItem-color);
      }
    }
  }
}
#components-back-top-demo-custom .ant-back-top {
  bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
</style>
