/<template>
    <div class="Allcontainers">
        <div class="Articals">
            <div class="onTop1">
                <h3>与<span>{{ data.label }}</span> 文章标签有关的</h3>
                共搜到 <span>{{ data.articleCount }}</span>篇
            </div>
            <div class="onTop2">
                <b>文章标签</b>
                <div class="spanItem">
                    <span v-for="val in articleTagList" :key="val.id">{{val.label}}</span>
                </div>
            </div>
            <div class="FilterArtical">
                <dl v-for="item in articalList" :key="item.id" class="actricalItems" @click="readArtical(item)">
                    <dt>
                      <div class="actricalItemsDt">
                        <h3>{{ item.title }}</h3>
                        |<span class="ActivceSpan">{{
                          moment(item.updateAt).startOf("hour").fromNow()
                        }}</span
                        >|<span class="ActivceSpan">{{
                          item.category ? item.category.value : ""
                        }}</span>
                      </div>
                      <div class="Img">
                        <img class="imgs" v-show="item.cover" :src="item.cover" />
                        <p>{{ item?.summary }}</p>
                      </div>
                    </dt>
                    <dd class="actricalItemsDd">
                      <div class="AllSmall">
                        <like-icon /><span>{{ item.likes }}</span>
                      </div>
                      <div class="AllSmall">
                        <views-icon /><span>{{ item.views }}</span>
                      </div>
                      <div class="AllSmall"><share-icon /><span>分享</span></div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="commend">
            <base-list title="推荐阅读" :request="store.getReadList" class="base-list">
                <template #item="{ data }">
                    {{ data.title }} ·
                    {{ moment(data.updateAt).startOf("day").fromNow() }}
                </template>
            </base-list>
            <base-list title="文章分类" rowKey="label" :request="store.getKnowledgeTypeList" class="base-list">
                <template #item="{ data }">
                    {{ data.label }}&emsp;<span>共计{{ data.articleCount }}篇文章</span>
                </template>
            </base-list>
        </div>
    </div>
</template>

<script setup lang="ts">
import moment from 'moment';
import { useRoute,useRouter } from 'vue-router';
import useStore from '@/stores';
import { storeToRefs } from 'pinia'
import { onMounted, reactive } from 'vue-demi';

const route = useRoute()
const router = useRouter();
const store = useStore()
const data = route.query
const {articleTagList,articalList}:any = storeToRefs(store)
const datas = reactive({
    lists:[]
})
const init = () =>{
  store.getArticleTagList()
  store.getArticalData();
}
// const getDataArticals = () => {
//     datas.lists= articalList.filter((value:any) => {
//         return data.label === value.tags[0].label
//     })
// }

const readArtical = (item:any) =>{
  router.push({path:'/articalDetail/'+item.id,
  query:item
  })
}
onMounted(()=>{
    init()
    // getDataArticals()
})
console.log(datas.lists, 'getDataArticals');


</script>

<style lang="less" scoped>
.onTop1 {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    border: 1px solid #000;
    text-align: center;
	  background: var(--bg-color);
    color: var(--font-ArticalItem-color);
    h3{
      color: var(--font-ArticalItem-color);
    }
    span {
        font-size: 30px;
        color: pink;
    }
}

.onTop2 {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
	  background: var(--bg-color);
    b {
        display: block;
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #ccc;
        color: var(--font-ArticalItem-color);
    }
    span {
        display: block;
        width: 80px;
        height: 30px;
        border: 1px solid #000;
        text-align: center;
        margin-top: 10px;
        margin-left:5px ;
        margin-right: 5px;
    }
    .spanItem{
        display: flex;
        color: var(--font-ArticalItem-color);
        span{
          border: 1px solid var(--font-ArticalItem-color);
        }
    }
}
.FilterArtical{
	  background: var(--bg-color);
}
.actricalItems {
  width: 100%;
  border-bottom: 1px solid #ccc;

  .Img {
    display: flex;
    margin-bottom: 6px;

    .imgs {
      width: 150px;
      height: 100px;
      margin-right: 20px;
    }

    p {
      color: var(--font-ArticalItem-color);
    }
  }

  .actricalItemsDt {
    line-height: 30px;
    display: flex;

    h3 {
      color: var(--font-ArticalItem-color);
      padding-left: 5px;
      padding-right: 5px;
    }

    span {
      padding-left: 5px;
      padding-right: 10px;
    }
  }

  .ActivceSpan {
    color: var(--font-ArticalItemSpan-color);
  }

  .actricalItemsDd {
    display: flex;
    width: 100%;

    .AllSmall {
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-right: 12px;
      color: var(--font-ArticalItemSpan-color);
    }
  }
}
.base-list{
  margin-top: 20px;
  margin-bottom: 20px;
  background: var(--bg-color);
}
</style>