/<template>
  <div class="SmallContainer">
    <div>
      <a-modal v-model:visible="visible" title="分享海报" @ok="handleOk">
        <img class="Itimgs" :src="data.cover" alt="">
        <div class="allSmall">
          <h3>{{ data.title }}</h3>
          <p v-if="data.summary">{{ data.summary }}</p>
          <div class="qrcode">
            <qrcode-vue :value="values" :size="100" level="H" />
            <div class="shareQrcode">
              <p>识别图中二维码查看文章</p>
              <p>原文分享来自&nbsp;<span>小楼又清风</span></p>
            </div>
          </div>
        </div>
      </a-modal>
    </div>
    <div class="likes" @click="LikeOrNot">
      <like2-icon v-if="data.likeit" style="z-index: 1000;"/>
      <like-icon v-else style="z-index: 1000;"/>
      <a-badge :count="data.likes" id="spanNUM" v-if="data.likes !== 0"  style="z-index: 3;">
        <!-- <a-avatar shape="square" /> -->
      </a-badge>
    </div>
    <div class="commets">
      <pinglun-icon />
    </div>
    <div class="share" @click="showModal()">
      <share-icon />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, inject, ref, reactive } from 'vue';
import useStore from '@/stores';
import { useRoute, useRouter } from 'vue-router';
import { storeToRefs } from 'pinia'
import QrcodeVue from 'qrcode.vue'
const store = useStore()
const route = useRoute()
const { params: { id } } = useRoute()
const { articalDetails }: any = storeToRefs(store)
const visible = ref<boolean>(false);
const data = reactive({
  likeit: false,
  likes: 0,
  cover: '',
  title: '',
  summary: '',
  id: ''
})
const values = ref("/api/article/" + data.id + "/views")

const LikeOrNot = () => {
  data.likeit = !data.likeit
  if (data.likeit) {
    data.likes++
  } else {
    data.likes--
  }
}
const showModal = () => {
  visible.value = true;
};
const handleOk = (e: MouseEvent) => {
  visible.value = false;
};
const init = async () => {
  await store.getArticalDetails(id)
  data.likes = store.articalDetails.likes
  data.cover = store.articalDetails.cover
  data.title = store.articalDetails.title
  data.summary = store.articalDetails.summary
  data.id = store.articalDetails.id
  console.log(store.articalDetails)
}
onMounted(() => {
  init();
})
</script>

<style lang="less" scoped>
.SmallContainer {
  height: 120px;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 150px;
  position: sticky;
  margin-top: 200px;

  .commets,
  .share,
  .likes {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    background: #fff;
    margin-bottom: 10px;
    position: relative;
  }
}

#spanNUM {
  position: absolute;
  left: 20px;
  bottom: 25px;
}

.qrcode {
  display: flex;
}

.shareQrcode {
  margin-left: 20px;

  p>span {
    color: rgb(224, 64, 211);
  }
}

.Itimgs {
  width: 70%;
  margin-left: 70px;
}
</style>