<template>
  <a-comment v-for="val in listData" :key="val.id">
    <template #actions>
      <span key="comment-basic-reply-to" @click="handleShowEditor(val)"
        >回复</span
      >
      <editor v-show="val.showEditor" :isToggleOpen="true" :commentData="val" />
    </template>
    <template #author
      ><b style="font-size: 14px; color: black; font-weight: 700">{{
        val.name
      }}</b></template
    >
    <template #avatar>
      <a-avatar style="background-color: blue">{{ val.name }}</a-avatar>
    </template>
    <template #content>
      <p style="margin: 20px 0f">
        {{ val.content }}
      </p>
    </template>
    <comment-list v-if="val.children?.length" :listData="val.children" />
  </a-comment>
</template>
<script setup lang="ts">
import { defineProps, ref, inject } from "vue"
import editor from "./editor.vue"
import moment from "moment"
const name = "comment-list"
const props = defineProps({
  listData: {
    type: Array,
  },
})
const toggleEditor: any = inject("toggleEditor")
const handleShowEditor = (val: any) => {
  toggleEditor(val)
}
</script>
<style lang="less" scoped></style>
