<template>
  <div class="comment-editor" @click="login">
    <a-textarea class="text" 
      :disabled="!textDisabled" 
      :placeholder="placeholder" 
      v-model:value="text"
      @click="CLogin"> 
    </a-textarea>
    <div class="editor-action">
      <a-popover trigger="click" placement="bottom">
        <template #content>
          <ul v-html="emjo" class="emjo-wrapper" @click="handleEmjo"></ul>
        </template>
        <a-button type="text" @click="CLogin"
          ><template #icon><frown-outlined /></template>表情</a-button
        >
      </a-popover>
      <div>
        <a-button v-if="isToggleOpen" @click="handleToggleEditor"
          >收起</a-button
        >
        <a-button :disabled="disabled" @click="handleAddComment">发布</a-button>
      </div>
    </div>
    <a-modal v-model:visible="visible" title="登录" @ok="handleOk" :footer="null">
      <a-form
        :model="formState"
        v-bind="layout"
        name="nest-messages"
        :validate-messages="validateMessages"
        @finish="onFinish"
      >
        <a-form-item :name="['user', 'name']" label="用户名" :rules="[{ required: true }]">
          <a-input v-model:value="formState.user.name" />
        </a-form-item>
        <a-form-item :name="['user', 'email']" label="邮箱" :rules="[{ type: 'email', required: true }]">
          <a-input v-model:value="formState.user.email" />
        </a-form-item>
        <a-form-item :wrapper-col="{ ...layout.wrapperCol, offset: 8 }">
          <a-button @click="handleCancel">取消</a-button>
          <a-button type="primary" html-type="submit">登录</a-button>
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>
<script setup lang="ts">
import { SmileOutlined } from "@ant-design/icons-vue"
import { message } from "ant-design-vue"
import useUser from "@/utils/useUser"
import { useRoute,useRouter } from "vue-router"
import { defineProps, inject, ref, computed, watch, onMounted, reactive } from "vue"
import { initial } from "lodash";
// import { defineProps, inject, ref, computed, watch } from "vue"
import Modal from "./modal.vue";
const visible = ref<boolean>(false);
const emjo = `<li>😀</li><li>😃</li><li>😄</li><li>😁</li><li>😆</li><li>😆</li><li>😅</li><li>😂</li><li>😉</li><li>😊</li><li>😇</li><li>😍</li><li>😘</li><li>😗</li><li>😚</li><li>😙</li><li>😋</li><li>😛</li><li>😜</li><li>😝</li><li>😐</li><li>😑</li><li>😶</li><li>😏</li><li>😒</li><li>😌</li><li>😔</li><li>😪</li><li>😴</li><li>😷</li><li>😵</li><li>😎</li><li>😕</li><li>😟</li><li>😮</li><li>😯</li><li>😲</li><li>😳</li><li>😦</li><li>😧</li><li>😨</li><li>😰</li><li>😥</li><li>😢</li><li>😭</li><li>😱</li><li>😖</li><li>😣</li><li>😞</li><li>😓</li><li>😩</li><li>😫</li><li>😡</li><li>😡</li><li>😠</li><li>😈</li><li>😺</li><li>😸</li><li>😹</li><li>😻</li><li>😼</li><li>😽</li><li>🙀</li><li>😿</li><li>😾</li><li>❤️</li><li>✋</li><li>✋</li><li>✌️</li><li>☝️</li><li>✊</li><li>✊</li><li>🐵</li><li>🐱</li><li>🐮</li><li>🐭</li><li>☕</li><li>♨️</li><li>⚓</li><li>✈️</li><li>⌛</li><li>⌚</li><li>☀️</li><li>⭐</li><li>☁️</li><li>☔</li><li>⚡</li><li>❄️</li><li>✨</li><li>🃏</li><li>🀄</li><li>☎️</li><li>☎️</li><li>✉️</li><li>✏️</li><li>✒️</li><li>✂️</li><li>♿</li><li>⚠️</li><li>♈</li><li>♉</li><li>♊</li><li>♋</li><li>♌</li><li>♍</li><li>♎</li><li>♏</li><li>♐</li><li>♑</li><li>♒</li><li>♓</li><li>✖️</li><li>➕</li><li>➖</li><li>➗</li><li>‼️</li><li>⁉️</li><li>❓</li><li>❔</li><li>❕</li><li>❗</li><li>❗</li><li>〰️</li><li>♻️</li><li>✅</li><li>☑️</li><li>✔️</li><li>❌</li><li>❎</li><li>➰</li><li>➿</li><li>〽️</li><li>✳️</li><li>✴️</li><li>❇️</li><li>©️</li><li>®️</li><li>™️</li><li>ℹ️</li><li>Ⓜ️</li><li>⚫</li><li>⚪</li><li>⬛</li><li>⬜</li><li>◼️</li><li>◻️</li><li>◾</li><li>◽</li><li>▪️</li><li>▫️</li>`
const props = defineProps({
  isToggleOpen: {
    type: Boolean,
    default: true,
  },
  commentData: {
    type: Object,
  },
})
const disabled = ref(true)
const id = inject("id")
const text = ref("")
const $route = useRoute()
const $router = useRouter()
const { islogin, email, name } = useUser()
const textDisabled = ref(islogin)
const toggleEditor: any = inject("toggleEditor")
const sendComment: any = inject("sendComment")
// const visible = ref<boolean>(false)
const placeholder = computed(() => {
  if (props.commentData) {
    return `回复${props.commentData?.name}`
  }
  return "请输入评论内容（支持 Markdown）"
})
const layout = {
  labelCol: { span: 8 },
  wrapperCol: { span: 16 },
};

const validateMessages = {
  required: '${label} is required!',
  types: {
    email: '${label} is not a valid email!',
  },
};

const formState = reactive({
  user: {
    name: '',
    email: '',
  },
});
const onFinish = (values: any) => {
  console.log('Success:', values);
  visible.value = false;
  localStorage.setItem("user", JSON.stringify(values.user));
  $router.go(0);
};
const handleCancel = () => {
  visible.value = false;
}
const CLogin = (e) => {
  e.stopPropagation();
}
// watch(text, (val) => {
//   if(val.length){
//     disabled.value = false
watch(
  text,
  (val) => {
    if (val.length) {
      disabled.value = false
    }
  },
  {
    deep: true,
  }
)


const handleEmjo = (e) => {
  console.log(4545)
  if (e.target.nodeName === "LI") {
    text.value = text.value + e.target.innerHTML
  }
}
const handleToggleEditor = () => {
  toggleEditor(props.commentData)
}
const login = () => {
  visible.value = true;
}
const handleAddComment = (e) => {
  // console.log(text.value, $route)
  e.stopPropagation();
  // const data:any = {
    // console.log(JSON.parse(localStorage.getItem("user")),"user");
    
  const data: any = {
    content: text.value,
    email,
    hostId: id,
    name,
    url: $route.path,
  }
  if (props.commentData) {
    data.parentCommentId = props.commentData.id
    data.replyUserEmail = props.commentData.email
    data.replyUserName = props.commentData.name
  }
  sendComment(data);
  console.log(data,"data");
  
  // sendComment(data)
  message.success("发布成功，已提交审核")
  // text.value = " "
}

const showModal = () => {
  console.log(111)

  visible.value = true
}
</script>
<style lang="less">
.comment-editor {
  width: 100%;
  display: block;
  .text {
    width: 100%;
  }
}
.emjo-wrapper {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
  width: 410px;
  height: 200px;
  overflow-y: scroll;
  li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
}
.editor-action {
  display: flex;
  justify-content: space-between;
}
</style>
