<template>
  <div>
    <editor :isToggleOpen="false" />
    <commentList :listData="list.data" />
  </div>
</template>
<script setup lang="ts">
import editor from "./editor.vue"
import { onMounted, inject, reactive, provide } from "vue"
import commentList from "./commentList.vue"
import { getCommentList, sendComment } from "@/services/article"
const id: string = inject("id")
const list = reactive({
  data: [],
})
provide("toggleEditor", (val: any) => {
  // console.log(val)
  val.showEditor = !val.showEditor
  console.log(val)
})
provide("sendComment", async (data: any) => {
  await sendComment(data)
  console.log("sendComment", data)
  // awiat 发送评论()
  init()
})
const init = async () => {
  const { data } = await getCommentList(id)
  list.data = data[0]
}
onMounted(() => {
  init()
})
</script>
<style lang="less"></style>
