/<template>
  <div class="shareTk">
    <a-modal v-model:visible="visible" :title="title" @ok="handleOk">
      <template #footer>
        <a-button key="back" @click="handleCancel">返回</a-button>
        <a-button key="submit" type="primary" :loading="loading" @click="handleOk">登录</a-button>
      </template>
      <a-list bordered :data-source="data">
        <template #renderItem="{ item }">
          <a-list-item>{{ item }}</a-list-item>
        </template>
        <template #header>
          <div>Header</div>
        </template>
        <template #footer>
          <div>Footer</div>
        </template>
      </a-list>
    </a-modal>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, reactive,defineProps } from "vue";
const visible = ref<boolean>(false);
const loading = ref<boolean>(false);

const data: string[] = [];
const props = defineProps({
  title:{
    type: String,
    default: "登录"
  },
  rowKey: {
    type: String,
    default: "id",
  },
  shareModel:Function
})
const modalList = reactive({
  arr:[]
})
const showModal = () => {
  visible.value = true;
};

const handleOk = () => {
  loading.value = true;
  setTimeout(() => {
    loading.value = false;
    visible.value = false;
  }, 2000);
};

const handleCancel = () => {
  visible.value = false;
};
const shareModel = (item:any) => {
  visible.value = true;
  console.log(item,"item");
  modalList.arr = item;
}
const init = async() => {
  modalList.arr = props.shareModel && typeof(props.shareModel) === "function" && (await props.shareModel());
};
onMounted(() => {
  init();
})
</script>

<style lang="less" scoped>

</style>