<template>
  <div class="container">
    <h2>文章搜索</h2>
    <a-space direction="vertical">
      <a-input-search
        v-model:value="value"
        placeholder="input search text"
        style="width: 80%"
        @search="onSearch"
      />
    </a-space>
    <ul class="searchUl">
      <li v-for="(item,index) in searchArr" :key="index" @click="getItem(item)">
        {{item.title}}
      </li>
    </ul>
  </div>
</template>
<script lang="ts" setup>
import { defineComponent, ref,onMounted,reactive } from "vue";
import useStore from '../../stores';
import {storeToRefs} from 'pinia';
import {useRouter} from 'vue-router';

const store = useStore();
const router = useRouter();
const {articalList}:any = storeToRefs(store);
const value = ref<string>("");
let searchArr:any = reactive([]);

let itemData:any = ref();

const onSearch = (searchValue: string) => {
  console.log("use value", searchValue);
  console.log("or use this.value", value.value);
  console.log(articalList,"articalList");
  [...articalList.value].filter((item:any,index:number) => {
    if(item.title.includes(searchValue))
    {
      searchArr.push(item);
    }
  });
  console.log("searchArr", searchArr);
  console.log(searchArr.title,"searchArr.title");
};
const getItem =(item:any) =>{
  itemData.value = item
  router.push({
    path:'/articalDetail/'+item.id,
    query:item
  })
}
const clearItem = () =>{
  itemData.value={};
  store.itemData.value = {};
}
const init = () =>{
  store.getArticalData();
  if(store.itemData)
  {
    itemData.value = store.itemData
  }
}
onMounted(()=>{
  init();
})
</script>
<style lang="less">
.ant-btn{
  margin-top: -10px;
}
.ant-input{
  width: 80%;
}
.ant-input-group-wrapper {
  margin-left: 10%;
}
.searchUl{
  width: 100%;
  &>li{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
  }
  li:hover{
    background: #ccc;
  }
}
h2{
  margin-top: 20px;
  // margin-left: 100px;
}
</style>
